{% extends 'header.html'%}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Timups</title>
</head>

<body class="sub_page">

  <div class="hero_area">
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Change Password
              </h2>
              {% if msg1 %}
                <h6 style="color:green;">{{msg1}}</h6>
              {% else %}
                <h6 style="color:red;">{{msg2}}</h6>
              {% endif %}
            </div>
            <form action="{% url 'change_password' %}" method="POST">
              {% csrf_token %}
              <div>
                <span id="oldpassword_error" style="color:red;"></span>
                <input type="password" placeholder="Old Password" name="old_password"id="oldpassword" />
              </div>
              <div>
                <input type="password" placeholder="New Password" name="new_password" />
              </div>
              <div>
                <input type="password" placeholder="Confirm New Password" name="cnew_password" />
              </div>
              <div class="d-flex ">
                <button type="submit">
                  UPDATE PASSWORD
                </button>
              </div>
              <div>
                <input type="hidden" name="email" value="{{email}}">
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg'%}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
  <script type="text/javascript">
    $("#oldpassword").change(function() {
      var oldpassword = $(this).val();
      

      $.ajax({
        url:'/validate_oldpassword/',
        data:{
          'oldpassword':oldpassword
        },
        datatype:'json',
        success:function(data){
          if (!data.is_oldpassword){
            document.getElementById("oldpassword_error").innerHTML="Old Password Is Incorrect";
          }
          else{document.getElementById("oldpassword_error").innerHTML=""}
        }
      });
    });
  </script>

  
</body>

</html>

{% endblock %}