{% extends 'header.html'%}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Timups</title>
</head>

<body class="sub_page">

    <div class="hero_area">
    </div>

    <!-- shop section -->

    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Latest Watches
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xl-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{{watch.watch_image.url}}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                {{watch.watch_brand}}
                            </h6>
                            <h6>
                                Price:
                                <span>
                                    &#8377;{{watch.watch_price}}
                                </span>
                            </h6>
                        </div>
                        <div class="detail-box">
                            <h6>
                                Model : {{watch.watch_model}}
                            </h6>
                        </div>
                        <div class="detail-box">
                            <h6>
                                Description : {{watch.watch_desc}}
                            </h6>
                        </div>
                        <div class="detail-box">
                            <h6>
                                Seller : {{watch.watch_seller}}
                            </h6>
                        </div>
                        <h5 style="display: flex;">
                            
                            {% if cart_flag %}
                            <a href="{% url 'remove_from_cart' pk=watch.pk %}"><input type="button" value="Remove from Cart" class="btn btn-danger"></a>
                            {% else %}
                            <a href="{% url 'add_to_cart' pk=watch.pk %}"><input type="button" value="Add To Cart" class="btn btn-primary"></a>
                            {% endif %}

                            {% if wishlist_flag %}
                            <a href="{% url 'remove_from_wishlist' pk=watch.pk %}" style="margin-left: 0 auto;"><input type="button" value="Remove from Wishlist"
                                class="btn btn-danger"></a>
                            {% else %}
                            <a href="{% url 'add_to_wishlist' pk=watch.pk %}" style="margin-left: 0 auto;"><input type="button" value="Add To Wishlist"
                                    class="btn btn-primary"></a>
                            {% endif %}
                        </h5>
                        <div class="new">
                            <span>
                                NEW
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </section>

    <!-- end shop section -->


</body>

</html>

{% endblock %}